<footer>
    <!-- start footer  -->
<div class="s-footer text-white card-group">
<div class="s-m-footer card">
    <h3>LOCATION</h3>
    <p>2215 John Daniel Drive    </p>
    <span>Clark, MO 65243    </span>
</div>
<div class="m-m-footer card">
    <h3>AROUND THE WEB    </h3>
    <div class="icons">
        <i class="fa-brands fa-facebook mx-1 icon"></i>
        <i class="fa-brands fa-twitter mx-1 icon"></i>
        <i class="fa-brands fa-linkedin mx-1 icon"></i>
        <i class="fa-brands fa-github mx-1 icon"></i>

    </div>
</div>
<div class="e-m-footer card">
    <h3>ABOUT FREELANCER    </h3>
    <p>Freelance is a free to use, licensed Bootstrap theme created <span>by Route</span>    </p>
</div>
</div>




<!-- end footer -->
<div class="e-footer">
<p>Copyright © Your Website 2021</p>
</div>
</footer>
