<section class="port-section">
    <div class="port-content">

        <div class="d-flex justify-content-center"> 
            <p class="text-uppercase fw-bolder fs-5 port-text">portfolio COMPONENT</p>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="line me-3"></div>
            <i class="fa-regular fa-star"></i>
            <div class="line ms-3"></div>
        </div>
        
             <div class="port-gallery row g-5">

                <div class="col-lg-4 col-md-6">

                    <div class="rounded-3 overflow-hidden position-relative gallery">
                        <img class="w-100 rounded-3" src="../assets/1.jpg" alt="">
                        <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus"></i>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">

                    <div class="rounded-3 overflow-hidden position-relative gallery">
                        <img class="w-100 rounded-3" src="../assets/2.jpg" alt="">
                        <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class=" text-white fa-solid fa-plus"></i>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">

                    <div class="rounded-3 overflow-hidden position-relative gallery">
                        <img class="w-100 rounded-3" src="../assets/3.jpg" alt="">
                        <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus"></i>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">

                    <div class="rounded-3 overflow-hidden position-relative gallery">
                        <img class="w-100 rounded-3" src="../assets/1.jpg" alt="">
                        <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus"></i>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">

                    <div class="rounded-3 overflow-hidden position-relative gallery">
                        <img class="w-100 rounded-3" src="../assets/2.jpg" alt="">
                        <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class=" text-white fa-solid fa-plus"></i>
                        </div>
                    </div>

                </div>


                <div class="col-lg-4 col-md-6">

                    <div class="rounded-3 overflow-hidden position-relative gallery">
                        <img class="w-100 rounded-3" src="../assets/3.jpg" alt="">
                        <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus"></i>
                        </div>
                    </div>

                </div>


            </div>
        


    </div>

</section>
