<section class="home-section">
    <div class="home-content">

        <div class="home-img mb-3">
            <img src="../../assets/girl icon png.png" alt="">
        </div>
        <div>
            <p class="text-uppercase text-white fw-bolder fs-5 home-text">start framework</p>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="line me-3 bg-white"></div>
            <i class="fa-regular fa-star"></i>
            <div class="line ms-3 bg-white"></div>
        </div>
        <div class="text-white">
            <p>Graphic Artist - Web Designer - Illustrator            </p>
        </div>

    </div>

</section>
